{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <h1>
        {{ title }}
    </h1>
    <a href="{{ path('') }}">Создать пост</a><br>
    <h2>Список постов</h2>
    <ul>
        {% for post_item in post %}
            <li>{{ post_item.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}